* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.app-wrapper {
  display: grid;
  grid-template-areas: 
  'header header header'
  'nav content content';
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 90px 1fr;
  /* grid-gap: 10px; */

  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.app-wrapper-content {
  grid-area: content;
}

